<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h2>Đăng nhập</h2>
    <input type="text" id="username" placeholder="Tên đăng nhập"><br>
    <input type="password" id="password" placeholder="Mật khẩu"><br>
    <button onclick="login()">Đăng nhập</button>

    <script>
        const socket = io();

        function login() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            socket.emit('login', { username, password });
        }

        socket.on('login_success', (data) => {
            alert(data.message);
            localStorage.setItem('token', data.token); // Lưu token
            window.location.replace('/dashboard');
        });

        socket.on('login_failed', data => {
            alert(data.message);
        });
    </script>
</body>
</html>